.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-loading {
    background-color: yellow;
    align-items: center;
    justify-content: center;
    color: white;
}


.App-body {
  background-color: darkgrey;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 3vmin);
  color: blue;
}

.Header-header {
  background-color: #61dafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: blue;
  border-radius: 10px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.field {
  width: 100%;
  border-radius: 7px;
  font-size: calc(12px + 2vmin);
  position: sticky;
  color: gray;

}
.login {
  border-radius: 5px;
  font-size: calc(12px + 2vmin);
  position: center;
  background-color: #61dafb;
  border-width: 3px;
  margin: 10px;
}

.navBar {
  background-color: oldlace;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: blue;
}

.item {
  background-color: #09daed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  margin: 10px;
  border-radius: 20px;
}

.selectItem {
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    margin: 10px;
    border-radius: 20px;
}

.item-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    border-radius: 20px;
    margin: 3px;
}
.checkBox {
  margin: 5px;
}
.modal{
    display: flex;
    flex-direction: column;
    position:center;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid #000;
}
