# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Practise\my-test-app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
